/*HEADER*/
body{
    font-family: "Salesforce Sans", serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin: 0;
}

#header {
    margin:0px;
}

header a {
    text-decoration: none;
    color: black;
}

#titulo-principal{
    font-size: 1.3em;
    font-weight: normal;
}

/*PRIMER CONTENEDOR DE ENVIO A TODO EL PAIS*/
#html-slot {
    background-color: black;
    text-align: center;
}
#html-slot span{
    color: white;
    font-family: "Avenir Next";
    font-size: 18px;
}
/*TERMINA ENNVIO A TODO EL PAIS */

/*HEADER LOGO-BUSCAR-USUARIO */
#container-header {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: rgba(147, 81, 22,0.2);
    height:120px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 8px;
    width: 200px;
    text-align:center;
    font-family: "Salesforce Sans", serif;
}

#link-logo{
    width:130px;
}

#header-buscar {
    width: 490px;
    height: 28px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 16px;
}

#registro {
    background: rgba(147, 81, 22,0.5);
    border: solid 0.5px black;
    height: 40px;
    width: 190px;
    color: #000;
    transition: all 0.3s linear;
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}

#registro:hover {
    background-color: rgba(147, 81, 22,0.5);
    transition: all 0.3s linear;
    color: white;
    cursor:pointer;
}

#usuario {
    width:100px;
    align-items:center;
}

#navigation ul li ul {
    display: none;
}

#navigation li:hover > ul{
    display: block;
}

#header-img{
    padding-top: 10px;
}

#btn-lupa{
    padding-top:10px;
    height:30px;
}

#buscar{
    display:flex;
    align-items:center;
}

#lupa{
    border-radius: 10px;
    margin-left: 2px;
    height:35px;
    background-color: white;
}

#lupa:hover{
    cursor:pointer;
}

#perfil{
    background-color: white;
}

#barra-superior{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 50%;
    text-align: center;
}

#btn-registrar{
    width: 100%;
}

#cerrar{
    background-color: rgb(147, 81, 22,0.3);
    color: white;
    border-radius: 5px;
    width: 25px;
    height:25px;
}

#cerrar:hover{
    transition: all 0.5s linear;
    background-color: rgb(147, 81, 22);
}

#iniciarSesion{
    border-top: solid 1px #000;
}

#iniciarSesion:hover, #btn-registrar:hover{
    font-size:1.15rem;
}

#inicio:hover, #sus_nov:hover, #iniciarSesion:hover, #btn-registrar:hover{
    transition: all 0.5s linear;
    color: rgb(147, 81, 22);
}

/*NAVEGACION*/
#nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navigation{
    background-color: white;
    display: flex;
    justify-content: center;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline-block;
}

#navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.5s linear;
}

#navigation ul li a:hover {
    background-color: #000;
    transition: all 0.3s linear;
    color: white;
}
/*TERMINA NAVEGACION*/
/*TERMINA HEADER*/

.e_error{
    color: red;
    font-size: 0.8em;
    width: 100%;
    padding-left:4px;
}

.form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width:402px;
    background-color: white;
    border-radius:5px;
    border: 2px solid black;
    margin-block-end: 0;
}

/* PIE */
main{
    background-color: rgba(147, 81, 22,0.5);
    padding-top: 30px;
}

#pie{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    height: 120px;
    align-items: center;
}

#pie a{
    width:300px;
    display:flex;
    justify-content:center;
    font-size: 1.3rem;
    color:white;
}

#pie p{
    font-size: 0.8rem;
    width:250px;
    text-align:center;
    color:white;

}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
    width:100%;
    flex-wrap: wrap;
}

a{
    text-decoration:none;
    color:#000;
}

button a{
    width:100%;
    height:100%;
}

.img-cat {
    width:230px;
    height:230px;
    border-bottom: 0.1px solid rgba(205,205,205,0.7);
}

.producto{
    height:360px;
    margin-right:10px;
    margin-bottom:10px;
    cursor: pointer;
    border-radius:5px;
    overflow:hidden;
    background-color: white;
}

.producto img{
    width:230px;
    height:230px;
}

.caracteristicas{
    background-color: white;
}

.descripcion{
    display:flex;
    width:230px;
    height:25%;
    justify-content:center;
    text-align:center;
    background-color: white;
    margin: 0;
    padding: 10px 0;
} 

.btn-select{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.min-max{
    width: 60px;
}

aside{
    background-color: white;
    padding-top: 5px;
}

aside select{
    width: 90%;
    height: 30px;
    background-color: rgba(147, 81, 22,0.2);
    border-radius:5px;
    font-size: 1.2rem;
    text-align:center;
}

.ltitulo{
    display:block;
    text-align:center;
}

#botones{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.btn{
   height: 40px;
   width:200px;
   cursor:pointer;
   font-size:1.2rem;
   border-radius: 5px;
   background-color:white;
   border: 1px solid #000;
}

.btn:hover{
    background-color: rgba(147, 81, 22,0.5);
    transition: all 0.3s linear;
    color: white;
    cursor:pointer;
}

#h1{
    margin:20px auto;
}

#parrafo-sr{
    width:700px;
    padding-left: 100px;
}

.btn-doc{
    order:2;
    width:80px;
}

#form-filtrado{
    display:flex;
    order: 1;
    margin: 0;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 30px;
    width:59%;
}

#catalogo{
    height:30px;
    margin-top: 10px;
}

#btn-imp{
    height:30px;
    margin: 10px;
}

.label{
    font-weight: bolder;
}

.precio{
    font-size: 1.2em;
}


#filtros-usados{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.btn-filtrado{
    width:80%;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-wrap:wrap;
    margin: 4px 0;
}

.filtrado-bl{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2px;
    border: 1px solid black;
}

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: rgba(147, 81, 22,0.5);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

option{
    background-color: white;
}

#num-car{
    position: absolute;
    top: 60px;
    background: #000;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    right: 20px;
    border: solid 2px #000;
    border-radius: 50%;
    color: white;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}