/*HEADER*/
body{
    font-family: "Salesforce Sans", serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin: 0;
}

#header {
    margin:0px;
}

header a {
    text-decoration: none;
    color: black;
}

#titulo-principal{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: inherit;
}

/*PRIMER CONTENEDOR DE ENVIO A TODO EL PAIS*/
#html-slot {
    background-color: #000;
    text-align: center;
}
#html-slot span{
    color: white;
    font-family: "Avenir Next";
    font-size: 18px;
}
/*TERMINA ENNVIO A TODO EL PAIS */

/*HEADER LOGO-BUSCAR-USUARIO */
#container-header {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: rgba(147, 81, 22,0.2);
    height:120px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 8px;
    width: 200px;
    text-align:center;
    font-family: "Salesforce Sans", serif;
}

#link-logo{
    width:130px;
}

#header-buscar {
    width: 100%;
    height: 28px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 16px;
}

#registro {
    background: rgba(147, 81, 22,0.5);
    border: solid 0.5px black;
    height: 40px;
    width: 190px;
    color: #000;
    transition: all 0.3s linear;
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}

#registro:hover {
    background-color: rgba(147, 81, 22,0.5);
    transition: all 0.3s linear;
    color: white;
    cursor:pointer;
}

#usuario {
    width:100px;
    align-items:center;
}

#header-img{
    padding-top: 10px;
    position:relative;
}

#btn-lupa{
    padding-top:10px;
    height:30px;
}

#buscar{
    display:flex;
    align-items:center;
    width: 40%;
}

#lupa{
    border-radius: 10px;
    margin-left: 2px;
    height:35px;
    background-color: white;
}

#lupa:hover{
    cursor:pointer;
}

#perfil{
    background-color: white;
}

#perfilUsuario{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 50%;
    text-align: center;
}

#btn-registrar{
    width: 100%;
}

#cerrar{
    background-color: rgb(147, 81, 22,0.3);
    color: white;
    border-radius: 5px;
    width: 25px;
    height:25px;
}

#usu-car{
    position:relative;
}

#cerrar:hover{
    transition: all 0.5s linear;
    background-color: rgb(147, 81, 22);
}

#iniciarSesion{
    border-top: solid 1px #000;
}

#iniciarSesion:hover, #btn-registrar:hover{
    font-size:1.15rem;
}

#inicio{
    width: 300px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
    border:none;
    background-color: #000;
    font-family: "Salesforce Sans", serif;
}

#inicio:hover, #sus_nov:hover, #iniciarSesion:hover, #btn-registrar:hover{
    transition: all 0.5s linear;
    color: rgb(147, 81, 22);
    cursor: pointer;
}

/*NAVEGACION*/
#navigation ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#navigation li:hover > ul{
    display: block;
}

#navigation{
    background-color: white;
}

#navigation ul li {
    display: inline-block;
    margin: 0 1px;
}

#navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.5s linear;
}

#navigation ul li a:hover {
    background-color: #000;
    transition: all 0.3s linear;
    color: white;
}
/*TERMINA NAVEGACION*/
/*TERMINA HEADER*/

.e_error{
    color: red;
    font-size: 0.8em;
    width: 100%;
    padding-left:4px;
}

.form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width:402px;
    background-color: white;
    border-radius:5px;
    border: 2px solid black;
    margin-block-end: 0;
}

/* PIE */
main{
    background-color: rgba(147, 81, 22,0.5);
    padding-top: 5px;
}

#pie{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    height: 120px;
    align-items: center;
}

#pie a{
    width:300px;
    display:flex;
    justify-content:center;
    font-size: 1.3rem;
    color:white;
}

#pie p{
    font-size: 0.8rem;
    width:250px;
    text-align:center;
    color:white;

}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
    width:100%;
    flex-wrap: wrap;
}

a{
    text-decoration:none;
    color:#000;
}

button a{
    width:100%;
    height:100%;
}

.img-cat {
    width:230px;
    height:230px;
    border-bottom: 0.1px solid rgba(205,205,205,0.7);
}

.producto{
    width: 30%;
    min-height:400px;
    margin: 0 0 3% 0;
    cursor: pointer;
    border-radius:5px;
    overflow:hidden;
    background-color: white;
}

.producto img{
    width:100%;
    max-height:230px;
}

.caracteristicas{
    background-color: white;
    height:auto;
    flex-wrap:wrap;
	width:100%;
}

.descripcion, .tituloSubcat{
    display:flex;
    height:25%;
    justify-content:center;
    text-align:center;
    background-color: white;
    margin: 0;
    padding: 10px 5px;
    font-weight:normal; 
    font-size:1.1rem;
    min-height:65px;
    align-items:center;
} 

.tituloSubcat{
    font-weight: normal;
    font-size: 1.2rem;
}

.btn-select{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.min-max{
    width: 60px;
}

aside{
    background-color: white;
    padding-top: 5px;
}

aside select{
    width: 90%;
    height: 30px;
    background-color: rgba(147, 81, 22,0.2);
    border-radius:5px;
    font-size: 1.2rem;
    text-align:center;
}

.ltitulo{
    display:block;
    text-align:center;
}

#botones{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.btn{
   height: 40px;
   width:200px;
   cursor:pointer;
   font-size:1.2rem;
   border-radius: 5px;
   background-color:white;
   border: 1px solid #000;
}

.btn:hover{
    background-color: rgba(147, 81, 22,0.5);
    transition: all 0.3s linear;
    color: white;
    cursor:pointer;
}

#h1{
    margin:20px auto;
}

#parrafo-sr{
    width:700px;
    padding-left: 100px;
}

.btn-doc{
    order:2;
}

#form-filtrado{
    display:flex;
    order: 1;
    margin: 0;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: flex-start;
    width:90%;
}

#catalogo{
    height:30px;
    margin-top: 10px;
}

#btn-imp{
    height:30px;
    margin: 10px;
}

.label{
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.precio{
    text-align:center;
    font-weight:normal; 
    font-size:1.2rem; 
    margin:0; 
    margin-top: 15px;
}


#filtros-usados{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.btn-filtrado{
    width:80%;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-wrap:wrap;
    margin: 4px 0;
}

.filtrado-bl{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2px;
    border: 1px solid black;
}

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: rgba(147, 81, 22,0.5);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

option{
    background-color: white;
}

#num-car{
    position: absolute;
    bottom: 17px;
    background: #000;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    left: 17px;
    border: solid 2px #000;
    border-radius: 50%;
    color: white;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

.ruta{
    width: 100%;
    display: flex;
    margin-top: 0;
    background: #000;
    padding-left: 30px;
}

.ruta li{
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px solid white;
    margin: 4px 0;
    text-decoration: underline;
    color: white;
    font-family: museosans500,arial,sans-serif;
}

.ruta li a{
    color: white;
}

.header-menu{
    display:none;
}

.contenedor-botones{
    justify-content: end;
    flex-wrap: wrap;
    padding-bottom: 10px;
    width:20%;
    display:block;
    margin: 0 0 3% 1%; 
    /* margin: en vez de 3 20px*/
    border-radius: 5px;
    padding-top:0;
    background-color: rgba(0, 0, 0,0);
}

.contenedor-btn{
    width:100%;
    background-color: white;
    border-radius: 5px;
    text-align:center;
    border: 1px solid #000;
    transition: all 0.3s linear;
}

.contenedor-btn div{
    width:100%;
    text-align:center;
    border-bottom: 1px solid #d3d3d3;
    transition: all 0.3s linear;
    padding: 10px 0;
}

.contenedor-btn div:hover{
    cursor: pointer;
    background-color: rgba(147, 81, 22,0.2);
    transition: all 0.3s linear;
}

#mobile-header{
    display: none;
}

#cont-mobile-menu{
    display:none;
}

#modal_novedades, #suscripcion {
    display:none;
    background-color: #111111bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#suscripcion{
    display: flex;
}

#modal_novedades form, #cont-sus{
    width: 90%;
    max-width: 600px;
    min-height: 200px;
    border-radius: 6px;
    padding: 2em 1.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    background-color: #fff;
    margin: auto;
    position: relative;
}

#cont-sus{
    width: 60%;
    height: auto;
}

.modal_titulo{
    font-size: 2.5rem;
}

.modal_input{
    margin-bottom: 10px;
    width: 50%;
    height: 30px;
    font-size: 20px;
}

.modal_submit {
    width: 50%;
}

#cerrar_novedades{
    position: absolute;
    right: 0;
    top: 0;
    margin: .5em;
    padding: .5em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

#p_error{
    background-color: black;
    color : white;
    margin-top : 20px;
    margin-bottom : 20px;
    padding : 10px;
    border-radius : .5rem;
    text-align : center;
}

@media screen and (max-width: 860px){
    .ruta{
        height:40px;
    }
    
    #perfilUsuario, #usu-fav, #navigation, #html-slot, #num-car{
        display:none;
    }

    #logo{
        width: 100%;
    }

    #logo a{
        width: 100%;
        text-align: center;
    }

    #cont-mobile-menu{
        background-color: #000;
        height: 5vh;
        padding: 1rem;
        justify-content: space-between;
    }

    #mobile-perfilUsuario {
        display: none;
        background-color: #000;
        width: 90%;
    }

    #mobile-perfilUsuario a{
        color: #fff;
        width: 50%;
        font-size: 1.5rem;
    }

    #mobile-header{
        flex-direction: column;
        height:90vh;
        justify-content: center;
        background-color: rgba(147, 81, 22,0.5);
        padding: 1rem 0.5rem;
    }

    #mobile-header a{
        width:100%;
        font-size: 3rem;
        font-family: sans-serif;
        color: #ffF;
        text-align: center;
        font-weight: 700;
        height:100px;
    }

    #container-header{
        height:100px;
        flex-wrap: wrap;
    }

    #container-header div{
        height:30px;
    }

    #buscar{
        width:70%;
    }

    .cont-menu{
        display:flex;
        width:100%;
        justify-content: space-between;
    }

    .header-menu{
        display:block;
        height: 30px;
        order:1;
    }

    .header-img{
        order:0;
    }

    .header-menu:hover{
        cursor: pointer;
    }

    #pie{
        height: auto;
    }

    #pie p{
        margin: auto;
        padding: 4%;
    }

    #inicio, #pie a{
        display: none;
    }
    
    .contenedor-botones{
        margin: auto;
        width: 95%;
        padding-bottom: 0;
        margin-bottom: 2%;
        margin-top:0;
    }
    
    .contenedor-btn{
        display:flex;
    }
    
    .contenedor-btn div {
        border:none;
        height: 100%;
        padding:0;
        margin:auto;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    .contenedor-btn div:hover{
        background: transparent;
    }
    
    main{
        min-height: 70vh;
    }
    
    .continuar{
        margin: 4%;
    }
}